<%- include('partials/header') %>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav  m-auto" style="flex-direction: row;">
  <li class="nav-item active mx-2">
    <a href="/" class="nav-link">Home</a>
  </li>
  <li class="nav-item active mx-2">
    <a href="http://gyanendraknojiya.github.io"  target="_blank" class="nav-link">Portfolio</a>
  </li>
  <li class="nav-item active mx-2">
    <a href="/logout" class="nav-link "><span class="btn btn-outline-danger">LogOut</span> </a>
  </li>
  </ul>
</nav>

<%- include('partials/messages') %>


<div class="container">
  <div class="text-center">
    <span class="display-4">Available Products</span>
<p>Start Bidding....</p>
</div>
<div class="row">

  <% products.forEach(item => { %>   
<div class=" col-md-4 d-flex justify-content-center text-center">
  <div class="card mt-2" style="width:400px">
    <img class="card-img-top product-img" src="<%= item.image %>" alt="Card image">
    <div class="card-body">
      <h4 class="card-title"><%= item.name %></h4>
      <p class="card-text"><b> Details: </b><%= item.details %></p>
      <h6 class="card-title"><b>Price: Rs </b><%= item.price %> /-</h6>
      <p class="card-title">Your Bid: <pre><i>Should greater than price</i></pre></p>

      <form class="form-group d-flex justify-content-space-between" action="/products" method="post">
        <div class=" d-flex justify-content-coloum">
        <input type="text" class="form-control mx-1" name="bid">
        <input type="hidden" name="userID" value="<%= userID %>">
        <input type="hidden" name="email" value="<%= email %>">
        <input type="hidden" name="price" value="<%= item.price %>">
        <input type="hidden" name="productID" value="<%= item.id %>">
        <input type="hidden" name="productName" value="<%= item.name %>">
        <button type="submit" onsubmit="checkprice()" class="btn btn-dark mx-1">Bid</button>
        </div>
        </form>
    </div>
  </div>
</div>

<% }); %> 
</div>
</div>











<%- include('partials/footer') %>
